<form name='form' ng-model-options="{ updateOn: 'default blur'}" novalidate
      ng-class="formConfigData.formClass ?  formConfigData.formClass : ''">
    <ng-form name="dynaForm1">
                <span ng-repeat="view in formConfigData.groupViewList">
            <span ng-repeat="field in view.fieldList | orderBy:'order'" ng-init="fieldname = field.fieldModel">
              <field-item content="field" save-model="formModelData">
              </field-item>
             </span>
            </span>
    </ng-form>
    </div>
    <!-- inject-style src="./src/dynaform/css/styles.css" -->
</form>

